<%- include('./partials/header'); %>

<main class="container text-center">
    <h1 class="form-header-heading mt-2rem formTitle">N | J BookPals</h1>
    <header class="jumbotron">
        <h2 class="text-secondary">404</h2>
        <p class="text-secondary">Page not found</p>
        <hr>
        <p>Sorry, looks like we cannot find that page. Maybe check the address again.</p>
        <a class="btn btn-info" href="/books">Back to Books</a>
        <small class="small-404 d-block">Still facing difficulties? Try contacting
            webmaster at <a class="mail-404" href="mailto:webmaster@bookpals.com">webmaster@bookpals.com</a>.</small>
    </header>
</main>

<%- include('partials/footer'); %>